/* ==========================================
                HERO SECTION
========================================== */

.hero {
  position: relative;

  min-height: 100vh;

  display: flex;

  align-items: center;

  padding-top: 120px;

  background:
    linear-gradient(rgba(10, 20, 35, 0.55), rgba(10, 20, 35, 0.55)),
    url("../images/hero.jpg");

  background-size: cover;

  background-position: center center;

  background-repeat: no-repeat;

  overflow: hidden;
}

/* Left to Right Overlay */

.hero::before {
  content: "";

  position: absolute;

  inset: 0;

  background: linear-gradient(
    90deg,
    rgba(10, 18, 30, 0.8) 0%,

    rgba(10, 18, 30, 0.55) 40%,

    rgba(10, 18, 30, 0.2) 75%,

    transparent 100%
  );
}

/* Hero Content */

.hero-content {
  position: relative;

  z-index: 2;
}

/* Small Badge */

.hero-tag {
  display: inline-flex;

  align-items: center;

  gap: 10px;

  padding: 12px 22px;

  border-radius: 999px;

  background: rgba(255, 255, 255, 0.15);

  border: 1px solid rgba(255, 255, 255, 0.18);

  backdrop-filter: blur(15px);

  color: #fff;

  font-weight: 600;

  font-size: 0.95rem;
}

/* Heading */

.hero-title {
  margin-top: 30px;

  color: #fff;

  font-size: 4.5rem;

  font-weight: 800;

  line-height: 1.15;

  max-width: 700px;
}

.hero-title span {
  color: #60a5fa;
}

/* Description */

.hero-description {
  margin: 30px 0;

  color: #f1f5f9;

  font-size: 1.15rem;

  line-height: 1.9;

  max-width: 600px;
}

/* Buttons */

.hero-buttons {
  display: flex;

  gap: 18px;

  flex-wrap: wrap;
}

/* Primary Button */

.hero-btn-primary {
  display: inline-flex;

  align-items: center;

  justify-content: center;

  background: #2563eb;

  color: #fff;

  padding: 15px 34px;

  border-radius: 999px;

  font-weight: 600;

  transition: 0.35s;

  box-shadow: 0 12px 25px rgba(37, 99, 235, 0.3);
}

.hero-btn-primary:hover {
  background: #1d4ed8;

  color: #fff;

  transform: translateY(-3px);
}

/* Secondary Button */

.hero-btn-secondary {
  display: inline-flex;

  align-items: center;

  justify-content: center;

  padding: 15px 34px;

  border-radius: 999px;

  color: #fff;

  border: 1px solid rgba(255, 255, 255, 0.35);

  background: rgba(255, 255, 255, 0.1);

  backdrop-filter: blur(16px);

  transition: 0.35s;
}

.hero-btn-secondary:hover {
  background: #fff;

  color: #2563eb;
}
